<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<input type="text" class='datepicker' >

<a href="#myModal" role="button" class="btn" data-toggle="modal">Datepicker in Modal</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <input type="text" class='datepicker' >
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

<div class="input-daterange" data-behaviour='datepicker' id="datepicker">
   <input type="text" class="input-small" name="start" />
   <span class="add-on">to</span>
   <input type="text" class="input-small" name="end" />
</div>

<script type="text/javascript">
  $('.datepicker').datepicker()
  $('[data-behaviour~=datepicker]').datepicker();
</script>

<div style='margin-bottom:200%'></div>